# PostgreSQL Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=postgres
POSTGRES_PORT=5433

# OpenMetadata Configuration
OPENMETADATA_HOST=http://localhost:8585/api
OPENMETADATA_JWT_TOKEN=YOUR_JWT_TOKEN_HERE
